Repository Questie/Questie, pull requests merged in 2019-11, with the labels that each got.

#1452 Added Shaman "Quest Into the Great Ossuary"
  Database/Corrections/QuestieQuestFixes.lua
Labels: database, quest issue

#1473 Change position of Map button when continent dropdown is hidden
  Questie.lua
Labels: feature request, map

#1489 update config.lua & lookupZones.lua (zhCN)
  Locale/zhCN/config.lua
  Locale/zhCN/locale.xml
  Locale/zhCN/lookupZones.lua
Labels: Non-English

#1479 Incomplete quest objectives becomes yellow
  Locale/deDE/config.lua
  Locale/enUS/config.lua
  Locale/esES/config.lua
  Locale/esMX/config.lua
  Locale/frFR/config.lua
  Locale/koKR/config.lua
  Locale/ptBR/config.lua
  Locale/ruRU/config.lua
  Locale/zhCN/config.lua
  Locale/zhTW/config.lua
  Modules/Libs/QuestieLib.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/QuestieFramePool.lua
  Modules/QuestieTooltips.lua
  Modules/Tracker/QuestieTracker.lua
Labels: feature request, map

#1442 Issue #1406 Fix -- Added feature allowing repeatable quests to be toggled on or off.
  Locale/deDE/config.lua
  Locale/enUS/config.lua
  Locale/esES/config.lua
  Locale/esMX/config.lua
  Locale/frFR/config.lua
  Locale/koKR/config.lua
  Locale/ptBR/config.lua
  Locale/ruRU/config.lua
  Locale/zhCN/config.lua
  Locale/zhTW/config.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/QuestieQuest.lua
Labels: feature request, map

#1552 Iron217
  Locale/deDE/config.lua
  Locale/enUS/config.lua
  Locale/esES/config.lua
  Locale/esMX/config.lua
  Locale/frFR/config.lua
  Locale/koKR/config.lua
  Locale/ptBR/config.lua
  Locale/ruRU/config.lua
  Locale/zhCN/config.lua
  Locale/zhTW/config.lua
  Modules/Options/AdvancedTab/QuestieOptionsAdvanced.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
Labels: Non-English

#1567 Update config.lua
  Locale/ruRU/config.lua
Labels: Non-English

#1538 Fixes tracking of repeatable quests
  Modules/Quest/QuestieQuest.lua
  Modules/QuestieEventHandler.lua
Labels: bug
