Repository Questie/Questie, pull requests merged in 2019-10, with the labels that each got.

#1260 Update config.lua (french)
  Locale/frFR/config.lua
Labels: Non-English

#930 hideUnexploredMapIcons option
  Locale/enUS/config.lua
  Locale/ruRU/config.lua
  Modules/QuestieEventHandler.lua
  Modules/QuestieMap.lua
  Modules/QuestieOptions.lua
  Questie.lua
Labels: feature request

#1420 Update config.lua (french)
  Locale/frFR/config.lua
Labels: Non-English

#1443 Issue 1434 - Added in missing spawn locations for Keepsake of Remembrance
  Database/Corrections/QuestieObjectFixes.lua
Labels: database

#1455 Issue #1379 Fix -- Added missing "startedBy" NPC for quest 467
  Database/Corrections/QuestieQuestFixes.lua
Labels: database

#1107 the icons in the names of plates are not shown, and the mission information when hovering over the target is not displayed, so changes for the esMX language are added
  Locale/esMX/config.lua
  Locale/esMX/locate.xml
  Locale/esMX/lookupNpcs.lua
  Locale/esMX/lookupObjects.lua
  Locale/esMX/lookupQuests.lua
  QuestieDev-master.toc
Labels: Non-English

#1403 Update koKR locale
  Locale/koKR/config.lua
  Locale/koKR/lookupObjects.lua
  Locale/koKR/lookupQuests.lua
  Modules/QuestieJourney.lua
Labels: Non-English

#1446 Update map markers for quest Kim'jael's Equipment
  Database/Corrections/QuestieObjectFixes.lua
Labels: database

#1447 Issue 1432 - Added quest 7670 to solve issue
  Database/Corrections/QuestieQuestFixes.lua
Labels: database, quest issue

#1454 #1453 Added "Talismans of Merit" quests
  Database/Corrections/QuestieQuestFixes.lua
Labels: database, quest issue

#1444 Issue 1427 - Added dependencies for "The Binding" quest #1440
  Database/Corrections/QuestieQuestFixes.lua
Labels: quest issue
