Repository Questie/Questie, pull requests merged in 2019-09, with the labels that each got.

#801 more translation stuff for german
  Locale/deDE/config.lua
Labels: Non-English

#811 Changed some mistranslations in ruRU locale package
  Locale/ruRU/config.lua
Labels: Non-English

#800 Complete Spanish translation
  Locale/esES/config.lua
Labels: Non-English

#827 Remove 'Small Crag Boars' for dropping 'Crag Boar Rip' to fix #624
  Database/corrections.lua
Labels: database

#821 Add spawn locations for Khan Dez'hepah
  Database/corrections.lua
Labels: database

#820 Add missing item to fix #798
  Database/corrections.lua
Labels: database

#866 different objective color for different quests
  Locale/enUS/config.lua
  Modules/QuestieFramePool.lua
  Modules/QuestieMap.lua
  Modules/QuestieQuest.lua
  Questie.lua
Labels: feature request

#902 Update.lua
  Locale/frFR/config.lua
Labels: Non-English

#918 Add Burning Blade members to drop gems to fix #751
  Database/corrections.lua
Labels: quest issue

#923 Update locales.
  Locale/enUS/config.lua
  Locale/zhCN/config.lua
  Locale/zhTW/config.lua
Labels: Non-English

#848 add new key + fix keys + some translations
  Locale/deDE/config.lua
Labels: Non-English

#927 Update lookup data (again)
  Locale/deDE/locale.xml
  Locale/deDE/lookupNpcs.lua
  Locale/deDE/lookupObjects.lua
  Locale/deDE/lookupQuests.lua
  Locale/esES/locale.xml
  Locale/esES/lookupNpcs.lua
  Locale/esES/lookupObjects.lua
  Locale/esES/lookupQuests.lua
  Locale/frFR/locale.xml
  Locale/frFR/lookupNpcs.lua
  Locale/frFR/lookupObjects.lua
  Locale/frFR/lookupQuests.lua
  Locale/ptBR/locale.xml
  Locale/ptBR/lookupNpcs.lua
  Locale/ptBR/lookupObjects.lua
  Locale/ptBR/lookupQuests.lua
  Locale/ruRU/locale.xml
  Locale/ruRU/lookupNpcs.lua
  Locale/ruRU/lookupObjects.lua
  Locale/ruRU/lookupQuests.lua
  Locale/zhCN/locale.xml
  Locale/zhCN/lookupNpcs.lua
  Locale/zhCN/lookupObjects.lua
  Locale/zhCN/lookupQuests.lua
Labels: Non-English

#1059 Update QuesteProfessions.lua
  Modules/QuestieProfessions.lua
Labels: Non-English

#1123 mark quest "[90] Seasoned Wolf Kobabs" as a cooking quest
  Database/corrections.lua
Labels: quest issue
