Repository Questie/Questie, pull requests merged in 2022-05, with the labels that each got.

#3427 Update General.lua
  Localization/Translations/Options/General.lua
Labels: Questie - Localization

#3447 [fix] Use vendor locations for item objectives
  Database/QuestieDB.lua
Labels: Bug

#3453 [database] Add spawns to many quest starting/end NPCs
  Database/Corrections/Classic/classicNPCFixes.lua
  Database/Corrections/QuestieNPCBlacklist.lua
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/TBC/tbcNPCFixes.lua
  Database/Zones/zoneTables.lua
Labels: Questie - Quest Issue, Questie - Database, Data Correction

#3455 Fix Gubber Blump can train fishing
  Modules/QuestieMenu.lua
Labels: Questie - Database

#3482 Fix item Flagon of Dwarven Honeymead (2594)
  Database/Corrections/Classic/classicItemFixes.lua
Labels: Questie - Database, Data Correction

#3484 [fix] Add setting to select Isle of Quel'Danas phases
  Localization/Translations/Options/General.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Quest/IsleOfQuelDanas.lua
  Modules/Quest/QuestEventHandler.lua
  Modules/Quest/QuestieQuest.lua
  Modules/QuestieInit.lua
  Questie-BCC.toc
  Questie-Classic.toc
Labels: Bug, Questie - Quest Issue, Questie - Options

#3487 [fix] Check all equipped slots for tracker items
  Modules/Tracker/QuestieTracker.lua
Labels: Bug, Questie - Tracker

#3486 [locale][ruRU] Update translations
  Localization/Translations/DebugMessages.lua
  Localization/Translations/Options/General.lua
Labels: Translations
