Repository Questie/Questie, pull requests merged in 2022-09, with the labels that each got.

#4017 Tracker dragging cleanup
  Modules/Tracker/QuestieTrackerPrivates.lua
Labels: Questie - Tracker, Refactoring

#3959 Added all the subzones and their parents
  Database/Zones/zoneDB.lua
  Database/Zones/zoneTables.lua
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/.gitignore
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/areatable.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/factiontemplate.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/map.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/questxp-classic.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/questxp-tbc.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/questxp-wotlk.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/uimap.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/csv/worldmaparea.csv
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/go.mod
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/go.sum
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/load.go
  ExternalScripts(DONOTINCLUDEINRELEASE)/MapIdExporter/main.go
Labels: Data Correction, wotlk

#4051 Added outline option dropdown for tracker
  Localization/Translations/Options/Tracker.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Tracker/LinePool.lua
Labels: Questie - Tracker, Feature Request

#4047 Performance fixes in IsDoable
  .luacheckrc
  Database/QuestieDB.lua
  Modules/Libs/QuestieLib.lua
  Modules/Quest/QuestieQuest.lua
  Modules/QuestieEventHandler.lua
  Modules/QuestieProfessions.lua
  Modules/QuestieReputation.lua
Labels: Questie - Database, Refactoring

#4058 An automatic blacklist that blacklists all quests that appear not to …
  Database/Corrections/QuestieCorrections.lua
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction

#4056 Refactor/emmy
  .blizzardfunctions/functions.lua
  .blizzardfunctions/questFunctions.lua
  .blizzardfunctions/skillFunctions.lua
  .types/Ace3/AceAddon-3.0.lua
  .types/Ace3/AceBucket-3.0.lua
  .types/Ace3/AceComm-3.0.lua
  .types/Ace3/AceConsole-3.0.lua
  .types/Ace3/AceEvent-3.0.lua
  .types/Ace3/AceTimer-3.0.lua
  .types/Map.t.lua
  .types/blizzardFunctions/WoWEvent.lua
  .types/blizzardFunctions/clientInfoFunctions.lua
  .types/blizzardFunctions/questFunctions.lua
  .types/data/DataGeneral.t.lua
  .types/data/Item.t.lua
  .types/data/Npc.t.lua
  .types/data/Object.t.lua
  .types/data/Quest.t.lua
  Database/QuestXP/QuestieXP.lua
  Database/QuestieDB.lua
  Database/Zones/zoneDB.lua
  Database/Zones/zoneTables.lua
  Database/compiler.lua
  Modules/Libs/QuestieLib.lua
  Modules/Tracker/TrackerUtils.lua
  Modules/VersionCheck.lua
  Questie-BCC.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
Labels: Refactoring

#3843 Improve QuestXP performance, clean up code
  Database/QuestXP/QuestieXP.lua
Labels: Refactoring

#4109 Updated the automatic blacklist to be more informative and sorted.
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Questie - Quest Issue, Refactoring

#4074 Use wow project to determine expansion
  Database/Constants.lua
  Database/QuestieDB.lua
  Modules/VersionCheck.lua
  cli.lua
Labels: Refactoring

#3984 Achievement tracking
  .luacheckrc
  Localization/Translations/Generics.lua
  Modules/Migration.lua
  Modules/QuestieEventHandler.lua
  Modules/QuestieInit.lua
  Modules/Tracker/AchievementTracker.lua
  Modules/Tracker/ActiveQuestsHeader.lua
  Modules/Tracker/FadeTicker.lua
  Modules/Tracker/LinePool.lua
  Modules/Tracker/QuestieTracker.lua
  Questie-WOTLKC.toc
Labels: Questie - Tracker, Feature Request, wotlk

#4046 _GetContinent dynamic fix
  Modules/Tracker/QuestieTracker.lua
Labels: Questie - Tracker, Refactoring

#4142 Fixed mailboxes for wotlk
  Database/Constants.lua
  Modules/QuestieMenu.lua
Labels: Data Correction
