Repository Questie/Questie, pull requests merged in 2022-08, with the labels that each got.

#3698 [feature] Add Item search results to Advanced Search
  Localization/Translations/Generics.lua
  Localization/Translations/Journey/Search.lua
  Modules/Journey/QuestieSearchResults.lua
Labels: Questie - Journey, Feature Request

#3932 Fix item Worn Junkbox (16883) causing stack overflows
  Database/Corrections/Classic/classicItemFixes.lua
Labels: Questie - Database, Data Correction

#3956 Refactor Tracker to be split into multiple modules
  .vscode/settings.json
  Modules/Libs/QuestieCombatQueue.lua
  Modules/Libs/QuestieLib.lua
  Modules/Options/AdvancedTab/QuestieOptionsAdvanced.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Quest/QuestieQuest.lua
  Modules/QuestLinks/Link.lua
  Modules/QuestieEventHandler.lua
  Modules/QuestieInit.lua
  Modules/QuestieValidateGameCache.lua
  Modules/Tracker/ActiveQuestsHeader.lua
  Modules/Tracker/FadeTicker.lua
  Modules/Tracker/LinePool.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/QuestieTrackerPrivates.lua
  Modules/Tracker/TrackerMenu.lua
  Modules/Tracker/TrackerUtils.lua
  Questie-BCC.toc
  Questie-Classic.toc
Labels: Questie - Tracker, Refactoring

#3999 Tracker fixes
  Modules/Tracker/ActiveQuestsHeader.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/QuestieTrackerPrivates.lua
Labels: Bug, Questie - Tracker
