Repository Questie/Questie, pull requests merged in 2023-03, with the labels that each got.

#4667 pfQuest/ClassicCodex icons
  Database/Corrections/classicQuestFixes.lua
  Database/Corrections/tbcQuestFixes.lua
  Database/Corrections/wotlkQuestFixes.lua
  Database/QuestieDB.lua
  Database/compiler.lua
  Icons/LICENSE.md
  Icons/MIT.txt
  Icons/fav.tga
  Icons/icon_alliance.tga
  Icons/icon_horde.tga
  Icons/loot_mono.tga
  Icons/node.tga
  Icons/node_cut.tga
  Icons/object_mono.tga
  Icons/route.tga
  Icons/slay_mono.tga
  Icons/startend.tga
  Icons/startendstart.tga
  Icons/tracker_clean.tga
  Icons/tracker_close.tga
  Icons/tracker_database.tga
  Icons/tracker_giver.tga
  Icons/tracker_quests.tga
  Icons/tracker_search.tga
  Icons/tracker_settings.tga
  Localization/Translations/Options/General.lua
  Localization/Translations/Options/Minimap.lua
  Modules/FramePool/QuestieFrame.lua
  Modules/FramePool/QuestieFramePool.lua
  Modules/Libs/QuestieLib.lua
  Modules/Map/QuestieMap.lua
  Modules/Map/QuestieMapUtils.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/Options/MinimapTab/QuestieOptionsMinimap.lua
  Modules/Quest/QuestieQuest.lua
  Modules/Quest/QuestieQuestPrivates.lua
  Modules/QuestieInit.lua
  Modules/QuestieNameplate.lua
  Modules/Tracker/ActiveQuestsHeader.lua
  Questie.lua
Labels: Questie - Map / Minimap, Feature Request

#4686 [fix] Fix auto questing after Dragonflight API update
  Modules/QuestieCompat.lua
Labels: Bug, Questie - Auto

#4718 Fix quest The Tome of Nobility (1661)
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Questie - Quest Issue, Data Correction, classic

#4739 Add interact icon
  .luacheckrc
  Icons/interact.blp
  Questie.lua
Labels: Miscellaneous Task
