Repository Questie/Questie, pull requests merged in 2023-04, with the labels that each got.

#4664 Updated Questie Tracker with full Achievement support.
  .luacheckrc
  .vscode/settings.json
  Localization/Translations/Options/Tracker.lua
  Localization/Translations/TrackerUI.lua
  Modules/Auto/Privates.lua
  Modules/Auto/QuestieAuto.lua
  Modules/Journey/QuestieJourney.lua
  Modules/Libs/QuestieLib.lua
  Modules/Migration.lua
  Modules/Options/QuestieOptions.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Quest/QuestEventHandler.lua
  Modules/Quest/QuestieQuest.lua
  Modules/QuestLinks/Hooks.lua
  Modules/QuestieAnnounce.lua
  Modules/QuestieEventHandler.lua
  Modules/QuestieInit.lua
  Modules/QuestieMenu.lua
  Modules/QuestieSlash.lua
  Modules/Tracker/AchievementTracker.lua
  Modules/Tracker/ActiveQuestsHeader.lua
  Modules/Tracker/FadeTicker.lua
  Modules/Tracker/LinePool.lua
  Modules/Tracker/QuestieQuestTimers.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/TrackerBaseFrame.lua
  Modules/Tracker/TrackerFadeTicker.lua
  Modules/Tracker/TrackerHeaderFrame.lua
  Modules/Tracker/TrackerLinePool.lua
  Modules/Tracker/TrackerMenu.lua
  Modules/Tracker/TrackerQuestFrame.lua
  Modules/Tracker/TrackerQuestTimers.lua
  Modules/Tracker/TrackerUtils.lua
  Questie-Classic.toc
  Questie-WOTLKC.toc
  Questie.lua
Labels: Bug, Questie - Tracker, Questie - Options, Refactoring, wotlk, classic

#4797 [fix] Fix Tracker not showing 0/1 and 1/1 objectives
  Modules/Tracker/QuestieTracker.lua
Labels: Bug, Module - Tracker

#4828 [feature] Add objective/quest complete sound
  Localization/Translations/Options/General.lua
  Modules/Migration.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Quest/QuestLogCache.lua
  Modules/Sounds.lua
  Questie-BCC.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
Labels: Feature Request
