Repository Questie/Questie, pull requests merged in 2023-12, with the labels that each got.

#5264 Show Darkmoon Faire quests again
  .luacheckrc
  .vscode/settings.json
  Database/Corrections/QuestieEvent.lua
  Database/Corrections/wotlkNPCFixes.lua
  Modules/QuestieReputation.lua
Labels: Data Correction

#5272 [quest] Hide child quests if their exclusiveTo is in the quest log
  Modules/Quest/QuestieQuest.lua
Labels: Data Correction

#5268 [quest] Add SoD Waylaid quests
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/QuestieCorrections.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction

#5271 [quest] Add SoD BFD quests
  Database/Corrections/Automatic/sodBaseItems.lua
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/sodItemFixes.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/Zones/zoneTables.lua
  Localization/Translations/Zones/Kalimdor.lua
Labels: Data Correction

#5292 Warlock Lake of Fire rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction

#5290 Add SoD runes
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/QuestieCorrections.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodItemFixes.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/npc/npc_formatter.py
Labels: Data Correction

#5295 Add SoD Winter's Veil quests
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/QuestieEvent.lua
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/quest/quest_ids.py
Labels: Data Correction, Season of Discovery

#5348 [quest] Add Shaman's "Lava Lash" rune
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5372 [quest] ADDED: 'Elixir of Insight' Quest To QuestDB
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5357 Update esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#5359 Update MyJourney.lua
  Localization/Translations/Journey/MyJourney.lua
Labels: Translations

#5360 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#5361 Update esMX.lua
  Localization/lookups/Classic/lookupItems/esMX.lua
Labels: Translations

#5363 Update QuestStates.lua
  Localization/Translations/QuestStates.lua
Labels: Translations

#5364 Update QuestieOptionsAdvanced.lua
  Modules/Options/AdvancedTab/QuestieOptionsAdvanced.lua
Labels: Translations

#5379 [locale][esES] Update Spanish and Mexican translations (Thanks @anon1231823)
  Localization/Translations/Journey/MyJourney.lua
  Localization/Translations/QuestStates.lua
  Localization/lookups/Classic/lookupItems/esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
  Modules/Options/AdvancedTab/QuestieOptionsAdvanced.lua
Labels: Translations

#5381 [quest] Fix reputation gain from "The Crown of Will"
  Database/Corrections/classicQuestFixes.lua
Labels: Data Correction, era/hc, Season of Discovery

#5370 [fix] Fix complete sound on teleport
  Modules/Quest/QuestLogCache.lua
  Modules/Quest/QuestieQuest.lua
Labels: Bug, Module - Sounds

#5349 Add "Shifting Scale Talisman" quest
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery
