Repository Questie/Questie, pull requests merged in 2023-05, with the labels that each got.

#4840 Create options to allow choice for objective/quest completion sounds
  Localization/Translations/Options/General.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Sounds.lua
Labels: Feature Request, Module - Sounds

#4884 [Feature] Questie Trackers "Sizer" needs a tooltip
  Localization/Translations/TrackerUI.lua
  Modules/QuestieEventHandler.lua
  Modules/Tracker/TrackerBaseFrame.lua
  Modules/Tracker/TrackerHeaderFrame.lua
Labels: Module - Tracker, Feature Request

#4886 [Fix] Fixes a number of Tracker Formatting Updates
  Localization/Translations/Options/Tracker.lua
  Modules/Migration.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Quest/QuestEventHandler.lua
  Modules/Quest/QuestieQuest.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/TrackerBaseFrame.lua
  Modules/Tracker/TrackerLinePool.lua
  Modules/Tracker/TrackerQuestFrame.lua
Labels: Module - Tracker, Feature Request

#4446 Add automated builds with BigWigsMods/packager
  .github/workflows/ci.yml
  .gitignore
  Questie-BCC.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
  build.py
  changelog.py
  release.py
  upload-cf.sh
  upload-wago.sh
Labels: Miscellaneous Task

#4917 [locale][ruRU] Update translations
  Localization/Translations/Generics.lua
  Localization/Translations/Options/General.lua
  Localization/Translations/Options/Tracker.lua
  Localization/Translations/TrackerUI.lua
Labels: Translations

#4918 [Feature] New Tracker Sort Options
  Localization/Translations/Options/Tracker.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Tracker/TrackerUtils.lua
Labels: Module - Tracker, Feature Request
