Repository Questie/Questie, pull requests merged in 2023-06, with the labels that each got.

#4932 [Fix] Tracker-Global-Settings reported by QA Team
  .luacheckrc
  .vscode/settings.json
  Localization/Translations/Options/Tracker.lua
  Localization/Translations/StaticPopup.lua
  Localization/Translations/Translations.xml
  Modules/GameVersionError.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Quest/QuestEventHandler.lua
  Modules/Quest/QuestieQuest.lua
  Modules/QuestieEventHandler.lua
  Modules/QuestieInit.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/TrackerBaseFrame.lua
  Modules/Tracker/TrackerFadeTicker.lua
  Modules/Tracker/TrackerHeaderFrame.lua
  Modules/Tracker/TrackerLinePool.lua
  Modules/Tracker/TrackerQuestFrame.lua
  Modules/Tracker/TrackerQuestTimers.lua
  Modules/Tracker/TrackerUtils.lua
Labels: Bug, Module - Tracker

#4953 [Feature] Tracker integration for the VoiceOver addon
  .luacheckrc
  .vscode/settings.json
  Icons/questlogplaybutton.blp
  Icons/questlogstopbutton.blp
  Localization/Translations/TrackerUI.lua
  Modules/Options/QuestieOptions.lua
  Modules/QuestieEventHandler.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/TrackerBaseFrame.lua
  Modules/Tracker/TrackerHeaderFrame.lua
  Modules/Tracker/TrackerLinePool.lua
  Modules/Tracker/TrackerUtils.lua
Labels: Module - Tracker

#4962 [fix] Hide extra objectives from the map when the linked objective is complete
  Database/QuestieDB.lua
  Modules/Quest/QuestieQuest.lua
Labels: Module - Map / Minimap

#5004 [feature] Add new Tracker Objective color option "Minimalistic"
  Localization/Translations/Options/Tracker.lua
  Modules/Libs/QuestieLib.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Tracker/QuestieTracker.lua
Labels: Module - Tracker

#5011 Misc Fixes for June 29th
  Modules/Options/TrackerTab/QuestieOptionsTracker.lua
  Modules/Tracker/QuestieTracker.lua
Labels: Module - Tracker
