Repository Questie/Questie, pull requests merged in 2024-08, with the labels that each got.

#6211 [quest] Fix 'Cleansing Our Crevasse' Objectives
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6333 [locale][ruRU] Update translations
  Localization/Translations/Zones/EasternKingdoms.lua
  Localization/Translations/Zones/Kalimdor.lua
Labels: Translations

#6323 [quest] Thousand Needles quest fixes (Cata)
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6355 [quest] Stranglethorn quest fixes (Cata)
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6112 [quest] Add 'Vampiric Touch' Priest Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#6113 [quest] Add 'Arcane Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6114 [quest] Add 'Defense Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6115 [quest] Add 'Feral Combat Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6116 [quest] Add 'Frost Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6117 [quest] Add 'Holy Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6118 [quest] Add 'Nature Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6119 [quest] Add 'Ranged Weapon Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6120 [quest] Add 'Shadow Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6363 [Quest] Cata Classic - Flag some Hillsbrad Foothills quests as Horde only
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6362 Improve init process
  Database/QuestieDB.lua
  Database/Zones/zoneDB.lua
  Modules/Journey/tabs/QuestsByZone/QuestsByZone.lua
  Modules/QuestieInit.lua
  Modules/Tracker/QuestieTracker.lua
  Questie.lua
Labels: Refactoring

#6359 [quest] Ashenvale quest fixes (Cata)
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6373 "The Wild Gods" Quest Correction in sodQuestFixes [82043]
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6364 [Quest] Cata Classic - Add clear objective for "Razorbeak Friends"
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6370 [quest] Stonetalon quest fixes (Cata)
  Database/Corrections/cataObjectFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6410 Westfall quest fixes (cata)
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6403 Update Dungeons.lua
  Localization/Translations/Zones/Dungeons.lua
Labels: Translations

#6404 Update EasternKingdoms.lua
  Localization/Translations/Zones/EasternKingdoms.lua
Labels: Translations

#6405 Update Northrend.lua
  Localization/Translations/Zones/Northrend.lua
Labels: Translations

#6407 Update TheMaelstrom.lua
  Localization/Translations/Zones/TheMaelstrom.lua
Labels: Translations

#6408 Update Kalimdor.lua
  Localization/Translations/Zones/Kalimdor.lua
Labels: Translations
