Repository Questie/Questie, pull requests merged in 2024-02, with the labels that each got.

#5618 [feature] Add Tutorial for SoD runes
  Localization/Translations/Tutorial.lua
  Modules/QuestieInit.lua
  Modules/Tutorial/ShowRunes.lua
  Modules/Tutorial/Tutorial.lua
  Questie-Classic.toc
Labels: Feature Request, Season of Discovery, Module - Tutorial

#5625 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#5673 [quest] Blacklisted First Aid Trauma Quests & Bumped Phase Number
  Database/Corrections/SeasonOfDiscovery.lua
Labels: Data Correction, Season of Discovery

#5568 [feature] Show weapon skills on Weapon Masters
  Localization/Translations/MinimapIcon/Townsfolk.lua
  Localization/Translations/Translations.xml
  Localization/Translations/WeaponSkills.lua
  Modules/Map/QuestieMap.lua
  Modules/Map/WeaponMasterSkills.lua
  Questie-BCC.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
Labels: Feature Request, Module - Tooltips, Module - Townsfolk

#5664 [quest] ADDED: Gnomeregan SoD P2 Quests To QuestDB
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5679 [translations] ADDED: Polearms To Translation Table
  Localization/Translations/WeaponSkills.lua
Labels: Translations

#5670 Add logic to handle future rune phases
  Database/Corrections/SeasonOfDiscovery.lua
  Modules/Quest/AvailableQuests.lua
  Modules/QuestieInit.lua
Labels: Module - Quest, Season of Discovery

#5638 [quest] Add Druids "Berserk" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5642 [quest] Add Warlock's "Grimoire of Synergy" rune
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5649 [quest] Add Hunters "Dual Wield Specialization" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5653 [quest] Add Warriors "Rallying Cry" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5655 [quest] Add Mages "Spellfrost Bolt" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5657 [quest] Add Mages "Frostfire Bolt" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5659 [quest] Add Rogues "Rolling with the Punches" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5661 [quest] Add Paladins "Sacred Shield" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5672 [quest] Add Warriors "Focused Rage" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5687 [quest] Add Mage's "Spell Power" rune
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5689 [quest] Add Desolace SoD quest chain
  Database/Corrections/Automatic/sodBaseNPCs.lua
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodItemFixes.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Localization/Translations/ExtraObjectives/SeasonObjectives.lua
  Localization/Translations/Translations.xml
Labels: Data Correction, Season of Discovery

#5690 [quest] Add Shaman's "Spirit of the Alpha" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5641 [quest] Add Druids "Dreamstate" rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5668 Update esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#5675 Update esMX.lua
  Localization/lookups/Classic/lookupItems/esMX.lua
Labels: Translations

#5676 Update esES.lua
  Localization/lookups/Classic/lookupItems/esES.lua
Labels: Translations

#5677 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#5681 Update Search.lua
  Localization/Translations/Journey/Search.lua
Labels: Translations

#5700 Update esMX.lua
  Localization/lookups/Classic/lookupObjects/esMX.lua
Labels: Translations

#5701 Update ClassicObjectives.lua
  Localization/Translations/ExtraObjectives/ClassicObjectives.lua
Labels: Translations

#5706 [locale] Update Spanish translations
  Database/Corrections/Automatic/sodBaseItems.lua
  Localization/Translations/ExtraObjectives/ClassicObjectives.lua
  Localization/Translations/Journey/Search.lua
  Localization/lookups/Classic/lookupItems/esES.lua
  Localization/lookups/Classic/lookupItems/esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
  Localization/lookups/Classic/lookupObjects/esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#5704 [fix] Fix "Quests by Zone" for dungeons
  Database/Zones/zoneTables.lua
  Modules/Journey/tabs/QuestsByZone/QuestsByZoneTab.lua
  Modules/QuestiePlayer.lua
Labels: Bug, Module - Journey, era/hc, Season of Discovery

#5698 [quest] Removed Lurkmane From Explosive Shot NPCs
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5694 [quest] Add Warrior's 'Blood Surge' rune
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5708 [quest] Add Hunters 'Steady Shot' rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5711 [quest] Add Mages 'Hot Streak' rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5713 [quest] Add Priests 'Renewed Hope' rune
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5621 [feature] Add option to enable coordinates on Mini World Map
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/QuestieCoordinates.lua
Labels: Bug, Module - Map / Minimap, Module - Options

#5692 [quest] Add "Curious Dalaran Relic" quests
  Database/Corrections/Automatic/sodBaseQuests.lua
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodItemFixes.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5699 Update SeasonObjectives.lua
  Localization/Translations/ExtraObjectives/SeasonObjectives.lua
Labels: Translations

#5710 Update esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#5714 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#5720 Update Townsfolk.lua
  Localization/Translations/MinimapIcon/Townsfolk.lua
Labels: Translations

#5721 Update Professions.lua
  Localization/Translations/Professions.lua
Labels: Translations

#5722 Update TrackerUI.lua
  Localization/Translations/TrackerUI.lua
Labels: Translations

#5723 Update Icons.lua
  Localization/Translations/Options/Icons.lua
Labels: Translations

#5727 Update Advanced.lua
  Localization/Translations/Options/Advanced.lua
Labels: Translations

#5728 Update DBMHud.lua
  Localization/Translations/Options/DBMHud.lua
Labels: Translations

#5729 Update General.lua
  Localization/Translations/Options/General.lua
Labels: Translations

#5730 Update Minimap.lua
  Localization/Translations/Options/Minimap.lua
Labels: Translations

#5731 Update Sounds.lua
  Localization/Translations/Options/Sounds.lua
Labels: Translations

#5732 Update Tooltips.lua
  Localization/Translations/Options/Tooltips.lua
Labels: Translations

#5733 Update Comms.lua
  Localization/Translations/Comms.lua
Labels: Translations

#5734 Update DebugMessages.lua
  Localization/Translations/DebugMessages.lua
Labels: Translations

#5735 Update Generics.lua
  Localization/Translations/Generics.lua
Labels: Translations

#5736 Update Tutorial.lua
  Localization/Translations/Tutorial.lua
Labels: Translations

#5738 Update Translations
  Localization/Translations/Comms.lua
  Localization/Translations/DebugMessages.lua
  Localization/Translations/ExtraObjectives/SeasonObjectives.lua
  Localization/Translations/Generics.lua
  Localization/Translations/MinimapIcon/Townsfolk.lua
  Localization/Translations/Options/Advanced.lua
  Localization/Translations/Options/DBMHud.lua
  Localization/Translations/Options/General.lua
  Localization/Translations/Options/Icons.lua
  Localization/Translations/Options/Minimap.lua
  Localization/Translations/Options/Sounds.lua
  Localization/Translations/Options/Tooltips.lua
  Localization/Translations/Professions.lua
  Localization/Translations/TrackerUI.lua
  Localization/Translations/Tutorial.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations
