Repository Questie/Questie, pull requests merged in 2024-11, with the labels that each got.

#6619 [feature] Correctly handle quests with multiple finisher
  Database/Corrections/QuestieCorrections.lua
  Database/QuestieDB.lua
  Database/QuestieDB.test.lua
  Modules/Journey/QuestDetailsFrame.lua
  Modules/Map/QuestieMap.lua
  Modules/Quest/QuestFinisher.lua
  Modules/Quest/QuestFinisher.test.lua
  Modules/Quest/QuestieQuest.lua
  Modules/QuestLinks/Link.lua
  Modules/Tracker/TrackerUtils.lua
  Questie-BCC.toc
  Questie-Cata.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
  setupTests.lua
Labels: Module - Map / Minimap, Feature Request, Refactoring

#6638 [db] Longrunner Proudhoof - fix location
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata

#6641 [db] Wartook Iceborn - fix location
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata

#6644 [db] Elder Harkek - fix location
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata

#6649 Update Events.lua
  Localization/Translations/Events.lua
Labels: Translations

#6650 [quest] More Cata blacklist updates
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6652 [quest] Ferelas quest fixes (Cata)
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6653 [feature] Major overhaul of Tracker "Sort by Proximity" and TomTom support
  .types/data/Quest.t.lua
  Database/QuestieDB.lua
  Database/Zones/zoneDB.lua
  Modules/Libs/DistanceUtils.lua
  Modules/Libs/DistanceUtils.test.lua
  Modules/Libs/QuestieLib.lua
  Modules/Map/QuestieMap.lua
  Modules/Map/QuestieMapUtils.lua
  Modules/Quest/QuestieQuest.lua
  Modules/Tracker/TrackerLinePool.lua
  Modules/Tracker/TrackerMenu.lua
  Modules/Tracker/TrackerUtils.lua
  Questie-BCC.toc
  Questie-Cata.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
Labels: Bug, Module - Tracker, Module - Map / Minimap, Feature Request, Refactoring

#6658 [quest] Un'Goro quest fixes (Cata)
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataObjectFixes.lua
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6697 [feature] Update quest objectives while in combat
  Modules/EventHandler/QuestEventHandler.lua
  Modules/EventHandler/QuestEventHandler.test.lua
  Modules/Tracker/LinePool/AchievementCriteriaCheckmark.lua
  Modules/Tracker/LinePool/ExpandQuestButton.lua
  Modules/Tracker/LinePool/ExpandZoneButton.lua
  Modules/Tracker/LinePool/TrackerItemButton.lua
  Modules/Tracker/LinePool/TrackerItemButton.test.lua
  Modules/Tracker/LinePool/TrackerLine.lua
  Modules/Tracker/LinePool/TrackerLinePool.lua
  Modules/Tracker/LinePool/TrackerLinePool.test.lua
  Modules/Tracker/LinePool/TrackerMenu.lua
  Modules/Tracker/LinePool/VoiceOverPlayButton.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/TrackerLinePool.lua
  Modules/Tracker/TrackerUtils.test.lua
  Questie-BCC.toc
  Questie-Cata.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
  setupTests.lua
Labels: Module - Tracker, Feature Request, Refactoring
