Repository Questie/Questie, pull requests merged in 2024-10, with the labels that each got.

#6450 [quest] Add 14335 Chipping In
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6465 [quest] Added 25329 Might of the Stonemaul
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6466 [quest] Added 25645 Return To Sage Palerunner
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6462 [quest] 25237 Tears of Stone - added
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6463 [quest] Added 25241 The Land, Corrupted
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6470 [quest] Felwood Quest Fixes (Cata)
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataObjectFixes.lua
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6483 [feature] Add setting to enable debug offer for all game versions
  Localization/Translations/Options/Advanced.lua
  Modules/Options/AdvancedTab/QuestieOptionsAdvanced.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/QuestieDebugOffer.lua
  Modules/QuestieEventHandler.lua
  Modules/Tracker/QuestieTracker.lua
Labels: Module - Database, Module - Options, Data Correction, era/hc, Season of Discovery, cata

#6487 [quest] Remove 10218 from Cata
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6488 [quest] Mark "The Thunderdrome!" as breadcrumb quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6491 [quest] Add 25533 Pirate Accuracy Increasing
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6494 [quest] Booty Duty - correct prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6496 [quest] Filling Our Pockets - correct prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6497 [quest] The Grand Tablet - added prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6512 [quest] Roll the Bones - removed unnecessary prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6498 [quest] Cata quest fixes from Discord/Github
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6513 [quest] Harpy Lieutenants - removed prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6524 [quest] Fix multiple quests in Un'Goro by fixing their prerequisite questst
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6525 [quest] Adventures in Archaeology - added prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6527 [quest] Speak With Spraggle - marked as breadcrumb quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6532 [quest] The Sunveil Excursion - added prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6535 [quest] False Idols & Neptool's Revenge - added prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6537 [quest] Bonechewer Blood - fixed prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6541 [quest] Pool of Tears - removed unnecessary prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6544 [quest] The Heart of the Temple - added prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6514 [quest] Harpy Raiders - removed unnecessary prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6543 [quest] To Stonard - added prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6553 [quest] Okrilla and the Blasted Lands - remove prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6554 [quest] Tides Of Darkness, Reinforcements Denied, Marking The Fallen
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6557 [quest] Neeka Bloodscar - added prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6556 [quest] We're Under Attack! - added prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6567 [quest] Chips off the Old Block, Damn You, Frostilicus - add prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6577 [quest] Starfall Village - add prequest, mark as breadcrumb quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6580 [quest] Kilram's Boast - add prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6562 [quest] With Dying Breath - added prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6583 [quest] The Pursuit Of Umbranse - add prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6584 [quest] The Owlbeasts' Defense - added prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6586 [quest] Where There's Smoke, There's Delicious Meat
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6588 [quest] Falling to Corruption - remove prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6589 [quest] Mark all breadcrumb quests for Threat of the Winterfall
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6591 [quest] Screechy Keen - add prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6593 [db] Shy-Rotam - fix location
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata

#6581 [quest] Seril's Boast - add prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6585 [quest] The Arcane Storm Within, Umbranse's Deliverance
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6600 [quest] Into the Mountain - add prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6603 [db] Fallen Stonard Warrior - fix location
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata

#6582 [quest] Are We There, Yeti?, Echo Three, The Perfect Horns
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6601 [quest] Fix 2 quests - add prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6602 [quest] A Bloodmage's Gotta Eat Too - add prerequisite quest
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6605 [quest] Enhancing the Stone - add prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6606 [quest] The Amulet of Allistarj / Sevine / Grol - add prerequisite quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6607 [db] The Amulet of Sevine - assign to correct NPC
  Database/Corrections/cataItemFixes.lua
Labels: Data Correction, cata

#6613 [db] Amulet of Allistarj / Grol - fix drop issues
  Database/Corrections/QuestieNPCBlacklist.lua
  Database/Corrections/cataItemFixes.lua
Labels: Data Correction, cata

#6614 [quest] Return to Thrallmar - fix quest giver
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6620 Update Search.lua
  Localization/Translations/Journey/Search.lua
Labels: Translations

#6609 [quest] Loramus Thalipedes Awaits - add prerequisite quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6625 [quest] Postponing the Inevitable - fix NPC, remove prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6629 [quest] Prisoner of War - fix NPC, remove prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6626 [quest] Quickening - fix NPC, remove prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6630 [quest] Winterspring quest fixes (Cata)
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6635 [db] Captured Tuskarr Prisoner - fix location
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata
