Repository Questie/Questie, pull requests merged in 2024-09, with the labels that each got.

#6414 Fix for non-string calls to GetTooltip
  Modules/Tooltips/Tooltip.lua
Labels: Bug, Module - Tooltips, Addon Conflict

#6420 [quest] Southern Barrens quest fixes (Cata)
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6421 Bundle of cata quest fixes from Discord
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataObjectFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6422 Update ClassicObjectives.lua
  Localization/Translations/ExtraObjectives/ClassicObjectives.lua
Labels: Translations

#6426 Update Raids.lua
  Localization/Translations/Zones/Raids.lua
Labels: Translations

#6425 Update EasternKingdoms.lua
  Localization/Translations/Zones/EasternKingdoms.lua
Labels: Translations
