Repository Questie/Questie, pull requests merged in 2024-05, with the labels that each got.

#5898 [fix] Added Archaeology icon and moved it to secondary professions
  Modules/QuestieMenu/QuestieMenu.lua
Labels: Bug, Module - Townsfolk, cata

#5909 [fix] Correctly handle invalid API responses with empty objectives
  Modules/Quest/QuestLogCache.lua
Labels: Bug, Module - Database, Module - Tracker

#5886 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#5893 [quest] Add 'Taste for Blood' Warrior Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5887 Cataclysm lookups
  Localization/lookups/Cataclysm/lookupItems/deDE.lua
  Localization/lookups/Cataclysm/lookupItems/esES.lua
  Localization/lookups/Cataclysm/lookupItems/esMX.lua
  Localization/lookups/Cataclysm/lookupItems/frFR.lua
  Localization/lookups/Cataclysm/lookupItems/koKR.lua
  Localization/lookups/Cataclysm/lookupItems/ptBR.lua
  Localization/lookups/Cataclysm/lookupItems/ruRU.lua
  Localization/lookups/Cataclysm/lookupItems/zhCN.lua
  Localization/lookups/Cataclysm/lookupItems/zhTW.lua
  Localization/lookups/Cataclysm/lookupNpcs/deDE.lua
  Localization/lookups/Cataclysm/lookupNpcs/esES.lua
  Localization/lookups/Cataclysm/lookupNpcs/esMX.lua
  Localization/lookups/Cataclysm/lookupNpcs/frFR.lua
  Localization/lookups/Cataclysm/lookupNpcs/koKR.lua
  Localization/lookups/Cataclysm/lookupNpcs/ptBR.lua
  Localization/lookups/Cataclysm/lookupNpcs/ruRU.lua
  Localization/lookups/Cataclysm/lookupNpcs/zhCN.lua
  Localization/lookups/Cataclysm/lookupNpcs/zhTW.lua
  Localization/lookups/Cataclysm/lookupQuests/deDE.lua
  Localization/lookups/Cataclysm/lookupQuests/esES.lua
  Localization/lookups/Cataclysm/lookupQuests/esMX.lua
  Localization/lookups/Cataclysm/lookupQuests/frFR.lua
  Localization/lookups/Cataclysm/lookupQuests/koKR.lua
  Localization/lookups/Cataclysm/lookupQuests/ptBR.lua
  Localization/lookups/Cataclysm/lookupQuests/ruRU.lua
  Localization/lookups/Cataclysm/lookupQuests/zhCN.lua
  Localization/lookups/Cataclysm/lookupQuests/zhTW.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations, cata

#5966 Blacklist bitmasks
  Database/Corrections/Holidays/QuestieEvent.lua
  Database/Corrections/Holidays/eventQuests.lua
  Database/Corrections/QuestieCorrections.lua
  Database/Corrections/QuestieNPCBlacklist.lua
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Module - Database, Refactoring

#6008 [quest] Hide "Heeding the Call" in Cataclysm
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6009 [quest] Fix "Conscript of the Horde" exclusivity
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#5925 [quest] Add 'Improved Barkskin' Druid Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5927 [quest] Add 'Focus Fire' Hunter Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5929 [quest] Add 'Catlike Reflexes' Hunter Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5931 [quest] Add 'Balefire Bolt' Mage Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5933 [quest] Add 'Unfair Advantage' Rogue Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5935 [quest] Add 'Carnage' Rogue Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5937 [quest] Add 'Focused Attacks' Rogue Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5952 [quest] Add 'Tidal Waves' Shaman Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5954 [quest] Add 'Rolling Thunder' Shaman Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5972 Update DebugMessages.lua
  Localization/Translations/DebugMessages.lua
Labels: Translations

#5973 Update Generics.lua
  Localization/Translations/Generics.lua
Labels: Translations

#5996 Update Advanced.lua
  Localization/Translations/Options/Advanced.lua
Labels: Translations

#5981 [quest] Fix 'Penance' Priest Rune Quest
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6010 [quest] Fix "Supplies for the Crossroads" & "Crossroads Caravan Pickup" breadcrumbs
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6011 [quest] Hide Unavailable Goblin Starter Quests in Cataclysm
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6013 [quest] Fix "Grol'dom's Missing Kodo" prequest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6021 [quest] Fix 'Kolkar Leaders' duplicated on map
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6023 [quest] Removal of Pre-Cataclysm Mage Quests
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata
