Repository Questie/Questie, pull requests merged in 2024-01, with the labels that each got.

#5402 [fix] Fix objective icons not being redrawn after zone change
  Modules/Quest/QuestieQuest.lua
Labels: Bug, Module - Map / Minimap

#5403 [locale][koKR] Improve Korean translations (Thanks to 이명진)
  Localization/Translations/Comms.lua
  Localization/Translations/DebugMessages.lua
  Localization/Translations/ExtraObjectives/ClassicObjectives.lua
  Localization/Translations/Generics.lua
  Localization/Translations/Journey/Search.lua
  Localization/Translations/MinimapIcon/MinimapIcon.lua
  Localization/Translations/MinimapIcon/Townsfolk.lua
  Localization/Translations/QuestStates.lua
  Localization/Translations/StaticPopup.lua
  Localization/Translations/TrackerUI.lua
  Localization/Translations/Tutorial.lua
  Localization/Translations/Zones/Kalimdor.lua
  Localization/Translations/Zones/Northrend.lua
Labels: Translations

#5207 [fix] Fix Tracker resizing to also be possible while holding shift
  Localization/Translations/TrackerUI.lua
  Modules/Tracker/TrackerBaseFrame.lua
Labels: Bug, Module - Tracker

#5398 Fix reputation rewards of all classic quests
  Database/Corrections/Automatic/classicQuestReputationFixes.lua
  Database/Corrections/QuestieCorrections.lua
  Database/Corrections/classicQuestFixes.lua
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/quest/classic/quest_formatter.py
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/quest/classic/quest_ids.py
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/quest/classic/quest_spider.py
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/quest/factions_ignore.py
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/quest/quest_formatter.py
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/quest/quest_spider.py
  ExternalScripts(DONOTINCLUDEINRELEASE)/scraper/runner.py
  Questie-BCC.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
Labels: Data Correction

#5317 Add SoD validation
  .dockerfiles/setup.sh
  .github/workflows/ci.yml
  .luacheckrc
  .vscode/settings.json
  Database/Corrections/QuestieCorrections.lua
  Database/compiler.lua
  cli/validate-era.lua
  cli/validate-sod.lua
  cli/validate-tbc.lua
  cli/validate-wotlk.lua
Labels: Miscellaneous Task

#5453 [quest] ADDED: 'Sniper Training' Westfall Hunter Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5455 [quest] ADDED: 'Sniper Training' Loch Modan Hunter Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5461 [quest] ADDED: 'Sniper Training' The Barrens Hunter Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5457 [quest] MODIFIED: Druid's "Sunfire" rune locations
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5456 [fix] Fix SoD Darkmoon Faire dates (which is every second week)
  Database/Corrections/QuestieEvent.lua
Labels: Bug, Season of Discovery

#5438 [locale][esMX] Update Spanish and Mexican translations (Thanks @anon1231823)
  Localization/Translations/DebugMessages.lua
  Localization/Translations/Options/General.lua
  Localization/Translations/Options/Nameplates.lua
  Localization/Translations/TooltipsUI.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
  Localization/lookups/Classic/lookupObjects/esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#5478 [quest] ADDED: 'Void Plague' Dun Morogh Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5484 [quest] ADDED: 'Void Plague' Durotar Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5494 [quest] ADDED: 'Twisted Mind' Loch Modan Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5497 [quest] ADDED: 'Twisted Mind' Westfall Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5499 [quest] ADDED: 'Twisted Faith' Darkshore Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5501 [quest] ADDED: 'Twisted Faith' The Barrens Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5503 [quest] ADDED: 'Twisted Faith' Silverpine Forest Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5482 [quest] ADDED: 'Void Plague' Teldrassil Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5486 [quest] ADDED: 'Void Plague' Tirisfal Glades Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5492 [quest] ADDED: 'Strength of Soul' Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5527 [quest] ADDED: 'Beast Mastery' Silverpine Forest Hunter Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5529 [quest] ADDED: 'Beast Mastery' The Barrens Hunter Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5530 Overhaul blacklisted runes
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5518 [quest] ADDED: 'Flanking Strike' Hunter Durotar Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5521 [quest] ADDED: 'Beast Mastery' Westfall Hunter Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5523 [quest] ADDED: 'Beast Mastery' Darkshore Hunter Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5533 [quest] ADDED: 'Shared Pain' Dun Morogh Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5535 [quest] ADDED: 'Shared Pain' Elwynn Forest Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5552 [quest] ADDED: 'Homunculi' Elwynn Forest Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5554 [quest] ADDED: 'Homunculi' Teldrassil Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5150 Rework draw available quests
  Database/QuestieDB.lua
  Modules/Map/QuestieMap.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/Options/QuestieOptions.lua
  Modules/Quest/AvailableQuests.lua
  Modules/Quest/QuestieQuest.lua
  Modules/QuestieCompat.lua
  Modules/QuestieEventHandler.lua
  Modules/QuestieInit.lua
  Modules/QuestieMenu.lua
  Modules/Tooltips/Tooltip.lua
  Questie-BCC.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
Labels: Refactoring, Module - Quest

#5558 [quest] ADDED: 'Homunculi' Durotar Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5560 [quest] ADDED: 'Homunculi' Tirisfal Glades Fake Priest Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5566 [quest] ADDED: 'Shadow Word: Death' Loch Modan Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5573 [quest] ADDED: 'Shadow Word: Death' Darkshore Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5575 [quest] ADDED: 'Circle of Healing' Duskwood Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5585 [quest] ADDED: 'Between the Eyes' Teldrassil Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5564 [quest] ADDED: 'Shadow Word: Death' The Barrens Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5570 [quest] ADDED: 'Shadow Word: Death' Silverpine Forest Priest Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5577 [quest] ADDED: 'Between the Eyes' Ironforge Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5579 [quest] ADDED: 'Between the Eyes' Stormwind Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5583 [quest] ADDED: 'Between the Eyes' Tirisfal Glades Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5587 [quest] ADDED: 'Envenom' Hillsbrad Foothills Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5590 [quest] ADDED: 'Mutilate' Teldrassil Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5592 [quest] ADDED: 'Mutilate' Dun Morogh Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5594 [quest] ADDED: 'Shiv' Duskwood Rogue Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5596 [quest] ADDED: 'Shamanistic Rage' Stonetalon Mountains Shaman Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5598 [quest] ADDED: 'Way of Earth' The Barrens Shaman Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5600 [quest] ADDED: 'Way of Earth' Silverpine Forest Shaman Fake Rune Quest To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#5608 [quest] ADDED: 'Carve' Hunter Fake Rune Quests To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5609 [quest] ADDED: 'Saber Slash' Rogue Fake Rune Quests To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5610 [quest] ADDED: 'Water Shield' Shaman Fake Rune Quests To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5611 [quest] ADDED: 'Molten Blast' Shaman Quests To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5613 [quest] ADDED: Comments To Object Fixes
  Database/Corrections/sodObjectFixes.lua
Labels: Miscellaneous Task

#5612 [quest] ADDED: 'Shield Mastery' Shaman Fake Rune Quests To QuestDB
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodObjectFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#5506 Update Icons.lua
  Localization/Translations/Options/Icons.lua
Labels: Translations

#5514 Update esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#5531 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#5544 Update Questie-BCC.toc
  Questie-BCC.toc
Labels: Translations

#5545 Update Questie-WOTLKC.toc
  Questie-WOTLKC.toc
Labels: Translations

#5546 Update Questie-Classic.toc
  Questie-Classic.toc
Labels: Translations

#5615 Translations
  Localization/Translations/Options/Icons.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#5362 [fix] Handle quests with many starters
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/classicQuestFixes.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
  Modules/Libs/QuestieLib.lua
  Modules/Quest/AvailableQuests.lua
Labels: Module - Map / Minimap, Data Correction

#5616 [quest] ADDED: Comments To Quest Fixes
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Miscellaneous Task
