Repository Questie/Questie, pull requests merged in 2024-07, with the labels that each got.

#6087 [quest] Blacklist "The Key To Freedom" in Cataclysm Classic
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6078 [quest] Blacklist "Cortello's Riddle" in Cataclysm
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6091 Update zhCN
  Localization/Translations/MinimapIcon/MinimapIcon.lua
  Localization/Translations/MinimapIcon/Townsfolk.lua
  Localization/Translations/Options/Advanced.lua
  Localization/Translations/Options/Auto.lua
  Localization/Translations/Options/DBMHud.lua
  Localization/Translations/Options/General.lua
  Localization/Translations/Options/Icons.lua
  Localization/Translations/Options/Nameplates.lua
  Localization/Translations/Options/Tooltips.lua
  Localization/Translations/Options/Tracker.lua
Labels: Translations

#6067 [fix] Proper fix for not showing objective tooltips on finishing NPCs
  Modules/Tooltips/Tooltip.lua
  Modules/Tooltips/Tooltip.test.lua
Labels: Bug, Module - Tooltips

#6077 [fix] Fix object tooltips showing quests from other zones
  Database/Zones/zoneDB.lua
  Database/Zones/zoneDB.test.lua
  Modules/Tooltips/Tooltip.lua
  Modules/Tooltips/Tooltip.test.lua
Labels: Bug, Module - Tooltips

#6135 [quest] Blacklist "Sully Balloo's Letter" for Cataclysm
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6098 [locale][ruRU] Update translations
  Localization/Translations/TrackerUI.lua
  Localization/Translations/Zones/Dungeons.lua
  Localization/Translations/Zones/EasternKingdoms.lua
  Localization/Translations/Zones/Kalimdor.lua
  Localization/Translations/Zones/TheMaelstrom.lua
Labels: Translations

#6140 [quest] Fix 'Deepmoss Venom Sac' Mob Drops
  Database/Corrections/cataItemFixes.lua
Labels: Data Correction, cata

#6151 [quest] Fix 'Arcane Legacy' Objectives
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6141 [quest] Add 'Elune's Fires' Druid Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6142 [quest] Add 'Displacement' Mage Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6157 [quest] Fix 'Altar of Goc' Spawn Location
  Database/Corrections/cataObjectFixes.lua
Labels: Data Correction, cata

#6158 [quest] Fix Chromatic Quests Now Flagged As Repeatable
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6143 [quest] Add 'Fanaticism' Paladin Rune Quest
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6144 [quest] Add 'Purifying Power' Paladin Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6145 [quest] Add 'Surge of Light' Priest Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodNPCFixes.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6146 [quest] Add 'Despair' Priest Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6152 [quest] Fix 'Death from Below' triggerEnd
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6148 [quest] Add 'Pandemic' Warlock Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6149 [quest] Add 'Backdraft' Warlock Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6153 [quest] Fix 'Goggle Boggle' triggerEnd
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6156 [quest] Add Multiple LBRS Quests To Blacklist
  Database/Corrections/SeasonOfDiscovery.lua
Labels: Data Correction, Season of Discovery

#6163 [quest] Fix Multiple Sunken Temple Quests To Show Correct Zone
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6164 [quest] Fix 'Funky Fungi' Unavailable In Cata
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6165 [quest] Fix 'The Corrupter' Unavailable In Cata
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6166 [quest] Fix 'Kinelory Strikes' triggerEnd
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6147 [quest] Add 'Eye of the Void' Priest Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6160 [quest] Fix 'Ethel Rethor' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6161 [quest] Fix 'Aberrations of Bone' Zone Sort
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6162 [quest] Fix 'Horn of Nez'ra' Unavailable In Cata
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6176 [quest] Fix 'An Introduction Is In Order' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6177 [quest] Fix 'Cenarion Property' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6178 [quest] Fix 'Taking Part' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6191 [quest] Add 'Hammer of the Righteous' Paladin Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6154 [quest] Fix 'Tool Bucket' Spawn Locations
  Database/Corrections/cataObjectFixes.lua
Labels: Data Correction, cata

#6155 [quest] Fix 'Stolen Silver' Spawn Locations
  Database/Corrections/cataObjectFixes.lua
Labels: Data Correction, cata

#6187 [quest] Add 'Ghost Walker Post' Horde Only
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6188 [quest] Add 'Shadowprey Village' Horde Only
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6190 [quest] Fix 'Maraudine Prisoner Manifest' startQuest
  Database/Corrections/cataItemFixes.lua
Labels: Data Correction, cata

#6192 [Quest] Cata Classic - Blacklist removed/replaced Wetlands quests + one quest that was never in the game
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6193 [Quest] Cata Classic - Fix The Stolen Keg quest chain
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6208 Feature: Re-click Questie icon to close dropdown menu
  Libs/LibUIDropDownMenu/LibUIDropDownMenu.lua
  Modules/MinimapIcon.lua
  Modules/QuestieMenu/QuestieMenu.lua
  Modules/WorldMapButton/WorldMapButton.lua
Labels: Bug, Module - Options

#6167 [quest] Fix 'The Ultrasafe Personnel Launcher' triggerEnd
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6195 [Quest] Cata Classic - Fix pre-quest requirement for Claws from the Deep and Reclaiming Goods
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6198 [Quest] Cata Classic - Fix Greenwarden's Grove quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6196 [Quest] Cata Classic - Fix Swiftgear Station quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6197 [Quest] Cata Classic - Fix Whelgar's Retreat quests
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6199 [Quest] Cata Classic - Remove pre-quest restriction from The Twilight's Hammer Revealed
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6201 [quest] Fix Sunken Temple Quests Hide
  Database/Corrections/SeasonOfDiscovery.lua
Labels: Data Correction, Season of Discovery

#6209 [quest] Fix BFD Quests Unavailable In Cata
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6210 [quest] Fix 'The Wilds of Feralas' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6212 [quest] Fix 'Rock Lobstrock!' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6213 [quest] Fix 'Hunting Brendol' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6215 [quest] Fix 'Get Me Out of Here' triggerEnd
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6216 [quest] Fix 'Wetter Than Wet' Objectives
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6225 [quest] Add 'Tears of Stone' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6226 [quest] Add 'The Land, Corrupted' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6235 [quest] Add 'Report to Silvia' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6248 [quest] Blacklist "Failed Incursion" in Cataclysm
  Database/Corrections/QuestieQuestBlacklist.lua
Labels: Data Correction, cata

#6250 [quest] Add 'Taming The Tamers' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6251 [quest] Add 'Sasquatch Sighting' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6252 [quest] Fix 'Zukk'ash Infestation' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6253 [quest] Fix 'Stinglasher' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6254 [quest] Add 'Forces of Nature: Faerie Dragons' Objectives
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6256 [quest] Add 'Return to Vestia' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6257 [quest] Add 'Building Your Own Coffin' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6258 [quest] Add 'The Darkmist Legacy' Prerequisite Quest
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6107 [quest] Add 'Improved Swipe' Druid Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6108 [quest] Add 'Starfall' Druid Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
  Database/QuestieDB.lua
Labels: Data Correction, Season of Discovery

#6109 [quest] Add 'Tree of Life' Druid Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6217 [quest] Fix 'Deep Impact' Objectives
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6218 [quest] Fix 'Seize the Ambassador' triggerEnd
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6194 [Quest] Cata Classic - Fix The Third Fleet quest chain
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6179 [quest] Fix 'Blood Theory' Objectives
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6255 [quest] Add 'Forces of Nature: Mountain Giants' Objectives
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6110 [quest] Add 'Axe Specialization' Fake Rune Quest
  Database/Corrections/SeasonOfDiscovery.lua
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6315 [quest] Fix pre-quests STV (Cata)
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6316 [quest] Cata Northern Stranglethorn prequest fixes
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6136 [fix] Rewrite Tracker item buttons
  Database/Corrections/cataQuestFixes.lua
  Database/Corrections/wotlkQuestFixes.lua
  Modules/Tracker/QuestieTracker.lua
  Modules/Tracker/TrackerItemButton.lua
  Modules/Tracker/TrackerItemButton.test.lua
  Modules/Tracker/TrackerLinePool.lua
  Modules/Tracker/TrackerUtils.lua
  Modules/Tracker/TrackerUtils.test.lua
  Questie-BCC.toc
  Questie-Cata.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
  cli/validate-cata.lua
  cli/validate-era.lua
  cli/validate-sod.lua
  cli/validate-tbc.lua
  cli/validate-wotlk.lua
  cli/validators.lua
  cli/validators.test.lua
  setupTests.lua
Labels: Bug, Module - Tracker, Refactoring

#6319 [quest] Objective location fixes for Northern Stranglethorn quests (Cata)
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata

#5984 Add objective icon override support to killCreditObjectives
  Database/QuestieDB.lua
  Database/compiler.lua
Labels: Module - Database, Feature Request
