Repository Questie/Questie, pull requests merged in 2024-12, with the labels that each got.

#6713 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#6675 [quest] Hillsbrad Quest Fixes (Cata)
  Database/Corrections/QuestieQuestBlacklist.lua
  Database/Corrections/cataItemFixes.lua
  Database/Corrections/cataNPCFixes.lua
  Database/Corrections/cataQuestFixes.lua
  Localization/Translations/ExtraObjectives/CataObjectives.lua
Labels: Data Correction, cata

#6719 Update esMX.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
Labels: Translations

#6720 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#6721 Update esMX.lua
  Localization/lookups/Classic/lookupItems/esMX.lua
Labels: Translations

#6716 [feature] Add Reset Questie Journey button to Advanced Options
  Localization/Translations/Options/Advanced.lua
  Modules/Options/AdvancedTab/QuestieOptionsAdvanced.lua
Labels: Module - Journey, Feature Request, Module - Options

#6761 [locale] Fix translations to follow proper German grammar
  Localization/Translations/MinimapIcon/Townsfolk.lua
Labels: Translations

#6725 Update Comms.lua
  Localization/Translations/Comms.lua
Labels: Translations

#6726 Update TrackerUI.lua
  Localization/Translations/TrackerUI.lua
Labels: Translations

#6727 Update Tracker.lua
  Localization/Translations/Options/Tracker.lua
Labels: Translations

#6728 Update esMX.lua
  Localization/lookups/Classic/lookupItems/esMX.lua
Labels: Translations

#6729 Update Nameplates.lua
  Localization/Translations/Options/Nameplates.lua
Labels: Translations

#6731 Update MinimapIcon.lua
  Localization/Translations/MinimapIcon/MinimapIcon.lua
Labels: Translations

#6739 Update EasternKingdoms.lua
  Localization/Translations/Zones/EasternKingdoms.lua
Labels: Translations

#6743 Update Dungeons.lua
  Localization/Translations/Zones/Dungeons.lua
Labels: Translations

#6732 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#6752 Update esMX.lua
  Localization/lookups/Classic/lookupObjects/esMX.lua
Labels: Translations

#6740 Update Kalimdor.lua
  Localization/Translations/Zones/Kalimdor.lua
Labels: Translations

#6758 Update ClassicObjectives.lua
  Localization/Translations/ExtraObjectives/ClassicObjectives.lua
Labels: Translations

#6755 Interact icon override additions
  Icons/hand.blp
  Localization/Translations/Options/Icons.lua
  Modules/Options/IconsTab/QuestieOptionsIcons.lua
  Questie.lua
Labels: Module - Map / Minimap, Feature Request, Module - Options

#6764 Update esES.lua
  Localization/lookups/Classic/lookupQuests/esES.lua
Labels: Translations

#6765 Update esMX.lua
  Localization/lookups/Classic/lookupItems/esMX.lua
Labels: Translations

#6766 Update esMX.lua
  Localization/lookups/Classic/lookupObjects/esMX.lua
Labels: Translations

#6767 Update frFR.lua
  Localization/lookups/Classic/lookupObjects/frFR.lua
Labels: Translations

#6768 Update esES.lua
  Localization/lookups/Classic/lookupObjects/esES.lua
Labels: Translations

#6769 Update deDE.lua
  Localization/lookups/Classic/lookupObjects/deDE.lua
Labels: Translations

#6771 Update ruRU.lua
  Localization/lookups/Classic/lookupObjects/ruRU.lua
Labels: Translations

#6772 Update zhCN.lua
  Localization/lookups/Classic/lookupObjects/zhCN.lua
Labels: Translations

#6773 Update koKR.lua
  Localization/lookups/Classic/lookupObjects/koKR.lua
Labels: Translations

#6774 Update zhTW.lua
  Localization/lookups/Classic/lookupObjects/zhTW.lua
Labels: Translations

#6775 Update esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
Labels: Translations

#6805 [fix] Fix event quests being hidden for wrong expansion
  Database/Corrections/BlacklistFilter.lua
  Database/Corrections/BlacklistFilter.test.lua
  Database/Corrections/Holidays/QuestieEvent.lua
Labels: Bug, Module - Database

#6781 Update esES.lua
  Localization/lookups/Classic/lookupObjects/esES.lua
Labels: Translations

#6782 Update deDE.lua
  Localization/lookups/Classic/lookupObjects/deDE.lua
Labels: Translations

#6783 Update frFR.lua
  Localization/lookups/Classic/lookupObjects/frFR.lua
Labels: Translations

#6784 Update koKR.lua
  Localization/lookups/Classic/lookupObjects/koKR.lua
Labels: Translations

#6786 Update zhCN.lua
  Localization/lookups/Classic/lookupObjects/zhCN.lua
Labels: Translations

#6787 Update zhTW.lua
  Localization/lookups/Classic/lookupObjects/zhTW.lua
Labels: Translations

#6790 Update ptBR.lua
  Localization/lookups/Classic/lookupQuests/ptBR.lua
Labels: Translations

#6791 Update zhCN.lua
  Localization/lookups/Classic/lookupQuests/zhCN.lua
Labels: Translations

#6795 Update quest lookups
  Localization/lookups/Classic/lookupItems/esMX.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
  Localization/lookups/Classic/lookupObjects/deDE.lua
  Localization/lookups/Classic/lookupObjects/esES.lua
  Localization/lookups/Classic/lookupObjects/esMX.lua
  Localization/lookups/Classic/lookupObjects/frFR.lua
  Localization/lookups/Classic/lookupObjects/ptBR.lua
  Localization/lookups/Classic/lookupObjects/ruRU.lua
  Localization/lookups/Classic/lookupObjects/zhCN.lua
  Localization/lookups/Classic/lookupQuests/deDE.lua
  Localization/lookups/Classic/lookupQuests/esMX.lua
  Localization/lookups/Classic/lookupQuests/frFR.lua
  Localization/lookups/Classic/lookupQuests/koKR.lua
  Localization/lookups/Classic/lookupQuests/ruRU.lua
Labels: Translations

#6759 Add option to change delay before quest sounds
  Localization/Translations/Options/Sounds.lua
  Modules/Options/GeneralTab/QuestieOptionsGeneral.lua
  Modules/Options/QuestieOptionsDefaults.lua
  Modules/Sounds.lua
Labels: Feature Request, Module - Options, Module - Sounds
