Repository Questie/Questie, pull requests merged in 2024-06, with the labels that each got.

#6025 [quest] Fix 'Crusader Strike' Paladin Rune Quest
  Database/Corrections/sodQuestFixes.lua
Labels: Data Correction, Season of Discovery

#6031 [quest] Fix 'A Special Surprise' being shown on map before completion of pre-req
  Database/Corrections/cataQuestFixes.lua
Labels: Data Correction, cata

#6059 [fix] Drastically improve performance of available quest calculation
  Modules/Quest/AvailableQuests/AvailableQuests.lua
Labels: Refactoring, Module - Quest

#6073 [db] Fix spawn location of "Verog The Dervish"
  Database/Corrections/cataNPCFixes.lua
Labels: Data Correction, cata

#6071 Update Professions.lua
  Localization/Translations/Professions.lua
Labels: Translations
