Repository Questie/Questie, pull requests merged in 2025-01, with the labels that each got.

#6837 Locale updates
  Localization/Translations/ExtraObjectives/ClassicObjectives.lua
  Localization/Translations/Options/Advanced.lua
  Localization/Translations/Options/General.lua
  Localization/Translations/Options/Icons.lua
  Localization/Translations/Options/Map.lua
  Localization/Translations/Options/Nameplates.lua
  Localization/Translations/TrackerUI.lua
  Localization/lookups/Classic/lookupNpcs/esMX.lua
  Localization/lookups/Classic/lookupQuests/koKR.lua
  Localization/lookups/Classic/lookupQuests/ptBR.lua
  Localization/lookups/Classic/lookupQuests/zhCN.lua
  Localization/lookups/Classic/lookupQuests/zhTW.lua
  Localization/lookups/TBC/lookupNpcs/esMX.lua
Labels: Translations

#6427 Auto questing
  .luacheckrc
  Modules/Auto/AutoQuesting.lua
  Modules/Auto/AutoQuesting.test.lua
  Modules/Auto/DisallowedIDs.lua
  Modules/Auto/Privates.lua
  Modules/Auto/QuestieAuto.lua
  Modules/EventHandler/EventHandler.lua
  Modules/EventHandler/QuestEventHandler.lua
  Modules/EventHandler/QuestEventHandler.test.lua
  Modules/Quest/QuestieQuest.lua
  Modules/Tracker/QuestieTracker.lua
  Questie-BCC.toc
  Questie-Cata.toc
  Questie-Classic.toc
  Questie-WOTLKC.toc
  cli/integrationTests/6734.test.lua
Labels: Bug, Feature Request, Module - Auto

#6865 Support XPerl Target for Target Frame Icon.
  .luacheckrc
  .vscode/settings.json
  Modules/QuestieNameplate.lua
Labels: Feature Request, Addon Conflict, Module - Target Frame
